a{color: black;}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }
body{
  text-align: center;
  animation-direction: alternate;
  padding: 0%;
  margin: 0%;
  font-size: 30px;
  background-color: #37323E;
  color: #BFBDC1;
  font-family: 'Rubik', sans-serif;
}


li{
  list-style-type:none;
  display: inline;
}

button {
    width: 300px;
    border-radius: 30px;
    border-style: none;
    outline: none;
    padding: 10px 10px;
    margin: 10px;
    font-size: 30px;

    background-color: #DE9E36 ;
    box-shadow: 8px 8px #DEB841;
    font-family: 'Rubik', sans-serif;
   cursor: pointer;

}

button:hover{
    background-color: #DEB841;
    box-shadow: 8px 8px #DE9E36;

}

  button:hover.home {

    animation: rotate 1s 1;   
    animation-direction: alternate;
    animation-timing-function: linear;
}

button:focus{
    background-color: #DEB841;
}

nav{
  background-color: #6D6A75;
  padding-bottom: 10px;
}


input[type="text"] {
  width: 500px;
  font-size: 30px;
  height: 60px;
  font-family: 'Rubik', sans-serif;
}


input[type="text"], textarea {

  background-color : #6D6A75; 
  color :  #DEB841;
  border: none;
  box-shadow: 3px 3px  #BFBDC1;
  border-radius: 10px;

}

input[type="text"]:hover, textarea {

  background-color : #BFBDC1; 
  color : #DE9E36;
  border: none;
  box-shadow: 3px 3px   #6D6A75;


}

  #title{
    text-align: center;
    position: relative;
  }


#App {
  margin-left: auto;
  margin-right: auto;
 

  text-align: center;
}
/* 
#darklight {
  width: 100px;
  border-radius: 0%;
  margin: 100px;

}


.darkmode{
background-color: #000000;
color: #ffffff;
animation: mymoveDark 3s infinite;
animation-direction: alternate;

} */

#slider img:hover{
  transform: scale(1.3,1.3);
  position: relative;
  z-index: 1;
}


#slider ul li img{
 position: relative;
 
}

#categories{
  background-color: #6D6A75;
  columns:  20px 4;

}

#language{
  background-color: #6D6A75;
}


#slideWrap{
  margin: 0%;
  padding: 0%;
}

#prev, #next{
  visibility: hidden;
}


/* Animation */
  @keyframes PulsingBackground {

    from {background-color: #DE9E36;}
    to {background-color: #DEB841;}
  }

  @keyframes PulsingText {
    from { color: #6D6A75;}
    from { color: #37323E;}
  }

  @keyframes rotate{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
  }

  /* Media Queries */
  @media (max-width: 700px) {
    #slider{
      visibility: hidden;
    }
  }

  @media (min-width: 701px) and (max-width:1000px) {

    #slider ul li img{
      width: calc(100% / 2);
     }
     #img3, #img4, #img5, #img6, #img7, #img8, #img9, #img10{
      visibility: hidden;   
    }
  }

  @media (min-width: 1001px) and (max-width:1300px) {
    #slider ul li img{
      width: calc(100% / 4);
     }
     #img5, #img6,#img7, #img8, #img9, #img10{
      visibility: hidden;   
    }
  }

  @media (min-width: 1301px) and (max-width:1600px) {
    #slider ul li img{
      width: calc(100% / 6);
     }
     #img7, #img8, #img9, #img10{
      visibility: hidden;   
    }
  }

  @media (min-width: 1601px) and (max-width:1920px) {
    #slider ul li img{
      width: calc(100% / 8);
     }
     #img9, #img10{
      visibility: hidden;   
    }
  }
  @media (min-width: 1921px) {

   
    #slider ul li img{
      width: calc(100% / 10);
     }
   
  }
 
